div {
    max-width: 1600px;   
}
#content {
    margin:0 auto;
    max-width: 80px;
}
nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
}  
#hero-msg h1, #hero-msg h4 {
    font-family: "Book Antiqua", "Lucida  Console", "Palatino";
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #ffffff; 
}
header {
    background-color: #072158; 
}
nav a:hover {
    background-color: #F5E559;
    color:#072158; 
}
.book, .join {
    background-color: #98D6DC;
    color:#072158; 
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
}
.book:hover, .join:hover {
    background-color: #ffffff; 
    color: #072158;
}
#background {
    background-color: #98D6DC; 
}
.msg {
    line-height: 1.5em;
    background-color: #F5E559;
    padding: 35px; 
}
footer {
    background-color: #98D6DC;
    padding: 25px 50px;
}
.home-title {
    font-family: "Book Antiqua", "Lucida  Console", "Palatino";
    font-size: 2em;
    color:#072158;
}
h4 {
    color:#072158;
}
.msg h2 {
    color: #072158;
    font-family: "Book Antiqua", "Lucida  Console", "Palatino";
}
.msg p {
    color:#072158;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3 {
    color: #072158;
}
footer a {
    color: #072158;
    text-decoration: none;
}
footer a:hover {
    background-color: #ffffff;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}  
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}