div {
    max-width: 1600px;   
}
#content {
    margin:0 auto;
}
nav a {
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    text-decoration: none;
}  
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color: #072158; 
}
nav a:hover {
    background-color: #F5E559;
    color:#072158; 
}
.book, .join {
    background-color: #98D6DC;
    color:#072158; 
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #ffffff; 
    color: #072158;
}
#background {
    background-color: #98D6DC; 
}
.msg {
    background-color: #F5E559; 
}
footer {
    background-color: #98D6DC;
}
.home-title {
    color:#072158;
}
h4 {
    color:#072158;
}
.msg h2 {
    color: #072158;
}
.msg p {
    color:#072158;
}
footer h3 {
    color: #072158;
}
footer a {
    color: #072158;
    text-decoration: none;
}
footer a:hover {
    background-color: #ffffff;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}  