div {
    max-width: 1600px;   
}
#content{
    margin: 0 auto;
}
nav a {
    margin: 0 auto;
    color: #FFFFFF;
}
#hero-msg h1, #hero-msg h4{
    margin: 0 auto;
}
.button-box{
    margin: 0 auto;
}
main section{
    margin: 0 auto;
}
#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color: #072158; 
}
nav a:hover {
    background-color: #F5E559;
    color:#072158; 
}
.book, .join {
    background-color: #98D6DC;
    color:#072158; 
}
.book:hover, .join:hover {
    background-color: #F5E559; 
    color: #072158;
}
#background {
    background-color: #fcfbfb; 
}
.msg {
    background-color: #F5E559; 
}
footer {
    background-color: #98D6DC;
}
.home-title{
    color:#072158;
}
h4{
    color:#072158
}
.msg h2{
    color: #072158;
}
.msg p{
    color:#072158
}
footer h3{
    color: #072158;
}
footer a{
    color: #072158;
}
footer a:hover{
    color: #98D6DC;
}