body{
    background-color: #D5AFA5;
}
h1, h2{
    font-family: "Brush Script MT"; 
    font-size: 100px;
    text-align: center;
    color: #023A37;
    line-height: 1px;
    text-shadow:  2px 2px 3px #6f7364;}
p, a{
    font-size: 19px;
    text-indent: 60px;
    font-family: georgia, Helvetica, sans-serif;
}
h3{
    font-family: "Brush Script MT"; 
    font-size: 65px;
    text-align: center;
    color: #023A37;
    line-height: 1px;
    padding-top: 15px;
    text-shadow:  2px 2px 3px #6f7364;
}
h4{
    font-family: "Brush Script MT"; 
    font-size: 50px;
    text-align: center;
    color: #612940;
    line-height: 1px;
    padding-top: 8px;
    text-shadow:  1px 1px 2px #6f7364;
}

header{
    background-color: #D5AFA5;
}
.logo{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-color: #023A37;
    border-style: dotted;
    border-radius: 15px;
    border-width: 5px;
  }

nav{
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #612940;
    border-radius: 60px;
}
nav a{
        color:#F5F0ED; 
        text-decoration: none;
        font-size: 18px;
        padding: 15px 30px;
        border-radius: 40px;
        margin-left: 40px;
        margin-right: 40px;
        border-style: solid;
        border-color: #F5F0ED;
    }
nav a:hover{
    background-color: #D5AFA5;
}

#hero-box{
    background-color: #023A37;
    height: 380px;
    display: grid;
    margin-top: 40px;
}
#hero-img{
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 240px;
    border-radius: 20px;
    grid-row: 2;
  }

#welcome-msg{
    line-height: 1.5em;
    background-color: #F5F0ED;
    padding: 35px; 
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    border-style: dashed;
    border-color: #023A37;
}

.picture-row{
    display: flex;
    justify-content: center;
}
#picture-row-left, #picture-row-middle, #picture-row-right{
    height: 270px;
    width: 300px;
    margin: 40px;
    border-style: solid;
    border-color: #023A37;
    border-width: 5px;
    border-radius: 10px;
}
footer {
    background-color: #612940;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
footer a, footer p{
    text-decoration: none;
    color: #F5F0ED;
}
footer .social img {
    padding-top: 15px;
}

#title-background{
    background-color: #F5F0ED;
    height: 225px;
    border-color: #023A37;
    border-style: solid;
    border-radius: 15px;
    border-width: 8px;
}
#zz, #pothos, #spider{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    margin: 40px;
}
#pothos{
    background-color: #023A37;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.rec-img{
    height: 320px;
    width: auto;
    border-style: solid;
    border-color: #F5F0ED;
    border-width: 20px;
    grid-column: 4;
}

.rec-p {
    background-color: #F5F0ED;
    padding: 10px; 
    padding-left: 30px;
    padding-right: 30px;
    grid-column: 8/20;
    text-align: left;
    text-indent: 30px;
    border-style: dotted;
    border-color: #612940;
    border-width: 5px;
    border-radius: 10px;
    height: 290px;
    margin-top: 20px;
}

